<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rromo12.retroachivementsmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Feed"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Feed" />
        <activity android:name=".GameProgress" />
        <activity android:name=".RecentlyPlayed" />
        <activity android:name=".MyGames" />
        <activity android:name=".UserProfile" />
        <activity android:name=".RecentAchievements" />
        <activity android:name=".Top10" />
        <activity android:name=".FindPlayer"></activity>
    </application>

</manifest>